footer {
  background-color: rgba(0, 0, 0, 0.69);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1vw 3vw;
}
footer img {
  object-fit: contain;
}

.social img {
  padding: 1vw;
}

.information p {
  padding: 0.2vw;
  text-align: center;
}
.information h5 {
  padding: 0.4vw;
  text-align: center;
  font-size: 18px;
}
.contacts p {
  padding: 0.2vw;
  text-align: center;
}
.contacts h5 {
  padding: 0.4vw;
  font-size: 18px;
  text-align: center;
}
